html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
}

body {
    color: #000;
}

a {
    color: #f00;
}

.webgl-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

.container-loading {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: #000000;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.principal_action {
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    cursor: pointer;
}

.secondary_action {
    width: 30%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 1rem;
    overflow: hidden;
    padding: 0.5rem 0.2rem;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 12px;
    height: 2rem;
}

.video_btn_one {
    background: linear-gradient(180deg, #5E6270 0%, #646E8F 0.01%, #202227 100%);
    transition: background 0.5s ease;
}

.video_btn_one:hover {
    background: linear-gradient(180deg, #5E6270 0%, #42495f 0.01%, #202227 100%);
}

.video_btn_two {
    background: linear-gradient(180deg, #364370 0%, #1636A2 0.01%, #041335 100%);
    transition: background 0.5s ease;
}

.video_btn_two:hover {
    background: linear-gradient(180deg, #364370 0%, #0e2369 0.01%, #041335 100%);
}

.video_btn_three {
    background: linear-gradient(180deg, #364370 0%, #1636A2 0.01%, #041335 100%);
    transition: background 0.5s ease;
}

.video_btn_three:hover {
    background: linear-gradient(180deg, #364370 0%, #0e2163 0.01%, #041335 100%);
}

.secondary_action-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.video_container {
    width: 80%;
}

.modal-container {
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.modal-instructions {
    background: rgba(0, 15, 74, 0.58);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    padding: 1rem 2rem;
    margin: 2rem 0rem;
    border-radius: 15px;
}

.play_icon {
    position: absolute;
    bottom: 2rem;
    left: 42.5%;
    width: 15%;
    height: auto;
    filter: brightness(1.1);
    animation: fadeshadow 3s ease-in infinite;
    cursor: pointer;
}

@keyframes fadeshadow {
    0% {
        filter: drop-shadow(2px 4px 6px rgb(156, 156, 156));
    }

    50% {
        filter: drop-shadow(2px 4px 6px white);
    }

    100% {
        filter: drop-shadow(2px 4px 6px rgb(156, 156, 156));
    }
}

@media (min-width: 1024px) {

    .secondary_action {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 15px;
        height: 1.5rem;
    }

    .video_container {
        width: 50%;
    }

    .play_icon {
        position: absolute;
        bottom: 2rem;
        left: 47.5%;
        width: 5%;
    }

    .modal-instructions {
        background: rgba(0, 15, 74, 0.58);
        color: #FFFFFF;
        font-weight: 600;
        font-size: 25px;
        padding: 1rem 2rem;
        margin: 2rem 0rem;
        border-radius: 15px;
    }

}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  